  <!-- Footer -->

  <footer class="tidakberwarna" id="footer">
    <div class="container-fluid">
    <div class="footer-icon">
      <a href="mailto:andimuhammadsatriafadhil77@gmail.com"><i class="fa-icon fa-solid fa-envelope"></i></a>
    <i class="fa-icon fa-brands fa-twitter"></i>
    <i class="fa-icon fa-brands fa-facebook"></i>
      <a href="https://www.instagram.com/andi_m_s_fadhil/?hl=id"><i class="fa-icon fa-brands fa-instagram"></i></a>
  </div>


    <p>© Copyright Andi Muhammad S F</p>

    </div>
  </footer>


</body>

</html>